*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
  font-family: system-ui, sans-serif;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
  background-color: #1e2330;
  color: #e8e8e8;
}

.container {
  max-width: 95%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(45ch, 1fr));
  gap: 2rem;
}

.card {
  background-color: #252b3b;
  max-width: 45ch;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 15px;
  padding: 1rem;
  box-shadow: 3px 3px 5px #00d4ff;
  transition: all .1s ease-in-out;
}

.card span {
  font-style: italic;
}

.card:hover {
  transform: translateY(-10px);
  color: #ffb800;
}